In [3]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [41]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [42]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [43]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [61]:
soup.find_all('div', class_="list_text")[0].a['href']

'/news/8432/insight-captures-sunrise-and-sunset-on-mars/'

In [7]:
title = soup.find('div', class_="list_text").find('div', class_="content_title")
par = soup.find('div', class_="list_text").find('div', class_="article_teaser_body")

In [8]:
title.text

'InSight Captures Sunrise and Sunset on Mars'

In [9]:
par.text

"InSight joins the rest of NASA's Red Planet surface missions, all of which have photographed either the start or end of a Martian day."

In [62]:
titles = []
paras = []
lnks = []

for x in soup.find_all('div', class_="list_text"):
    title = x.find('div', class_="content_title")
    par = x.find('div', class_="article_teaser_body")
    link = x.a['href']
    titles.append(title.text)
    paras.append(par.text)
    lnks.append(link)

In [63]:
len(titles), len(paras)

(40, 40)

In [64]:
lnks

['/news/8432/insight-captures-sunrise-and-sunset-on-mars/',
 '/news/8431/nasa-social-media-and-websites-win-webby-awards/',
 '/news/8430/nasas-insight-detects-first-likely-quake-on-mars/',
 '/news/8428/things-are-stacking-up-for-nasas-mars-2020-spacecraft/',
 '/news/8427/curiosity-tastes-first-sample-in-clay-bearing-unit/',
 '/news/8419/more-testing-for-mars-insights-mole/',
 '/news/8426/nasa-garners-7-webby-award-nominations/',
 '/news/8425/curiosity-captured-two-solar-eclipses-on-mars/',
 '/news/8424/nasas-mars-helicopter-completes-flight-tests/',
 '/news/8423/asteroids-hydrogen-make-great-recipe-for-life-on-mars/',
 '/news/8422/catch-nasas-jpl-at-the-clippers-scifest-this-weekend/',
 '/news/8421/nasas-mars-2020-rover-is-put-to-the-test/',
 '/news/8420/opportunitys-parting-shot-was-a-beautiful-panorama/',
 '/news/8416/curiosity-resumes-operations-after-switching-computers/',
 '/news/8417/insight-lands-praise-and-a-proclamation-from-la-county/',
 '/news/8415/insight-is-the-newest-mars-weather-service/',
 '/news/8414/six-things-to-know-about-nasas-opportunity-rover/',
 '/news/8413/nasas-opportunity-rover-mission-on-mars-comes-to-end/',
 '/news/8412/nasas-insight-prepares-to-take-mars-temperature/',
 '/news/8411/nasa-to-share-results-of-effort-to-recover-mars-rover/',
 '/news/8410/nasas-maven-spacecraft-shrinking-its-mars-orbit-to-prepare-for-mars-2020-rover/',
 '/news/8409/360-video-curiosity-rover-departs-vera-rubin-ridge/',
 '/news/8408/beyond-mars-the-mini-marco-spacecraft-fall-silent/',
 '/news/8407/insights-seismometer-now-has-a-cozy-shelter-on-mars/',
 '/news/8406/mars-buggy-curiosity-measures-a-mountains-gravity/',
 '/news/8405/curiosity-says-farewell-to-mars-vera-rubin-ridge/',
 '/news/8404/rover-team-beaming-new-commands-to-opportunity-on-mars/',
 '/news/8403/nasas-opportunity-rover-logs-15-years-on-mars/',
 '/news/8402/nasas-insight-places-first-instrument-on-mars/',
 '/news/8401/insight-engineers-have-made-a-martian-rock-garden/',
 '/news/8400/mars-insight-lander-seen-in-first-images-from-space/',
 '/news/8398/nasas-insight-takes-its-first-selfie/',
 '/news/8397/nasa-insight-lander-hears-martian-winds/',
 '/news/8396/nasas-mars-insight-flexes-its-arm/',
 '/news/8395/mars-new-home-a-large-sandbox/',
 '/news/8394/nasa-hears-marco-cubesats-loud-and-clear-from-mars/',
 '/news/8393/insight-is-catching-rays-on-mars/',
 '/news/8392/nasa-insight-lander-arrives-on-martian-surface/',
 '/news/8391/landing-day-for-insight/',
 '/news/8390/nasa-insight-landing-on-mars-milestones/']

In [67]:
news = []
for x in range(0, len(titles)):
#     print(x.text)
    news.append({'title':titles[x], 'text':paras[x], '_url':"https://mars.nasa.gov" + lnks[x]})
#     news[titles[x]] = paras[x]

In [68]:
news

[{'title': 'InSight Captures Sunrise and Sunset on Mars',
  'text': "InSight joins the rest of NASA's Red Planet surface missions, all of which have photographed either the start or end of a Martian day.",
  '_url': 'https://mars.nasa.gov/news/8432/insight-captures-sunrise-and-sunset-on-mars/'},
 {'title': 'NASA Social Media and Websites Win Webby Awards ',
  'text': 'NASA\'s social media presence, the InSight mission social media accounts, NASA.gov and SolarSystem.NASA.gov will be honored at the 2019 Webby Awards - "the Oscars of the Internet."',
  '_url': 'https://mars.nasa.gov/news/8431/nasa-social-media-and-websites-win-webby-awards/'},
 {'title': "NASA's InSight Detects First Likely 'Quake' on Mars",
  'text': 'While their causes are still unknown, one of three shaking events looks a lot like the quakes detected on the Moon by the Apollo missions.',
  '_url': 'https://mars.nasa.gov/news/8430/nasas-insight-detects-first-likely-quake-on-mars/'},
 {'title': "Things Are Stacking up for NASA's Mars 2020 Spacecraft",
  'text': 'As the July 2020 launch date inches closer, the next spacecraft headed to the Red Planet is assembled for more testing.',
  '_url': 'https://mars.nasa.gov/news/8428/things-are-stacking-up-for-nasas-mars-2020-spacecraft/'},
 {'title': "Curiosity Tastes First Sample in 'Clay-Bearing Unit'",
  'text': 'This new region on Mars might reveal more about the role of water on Mount Sharp.',
  '_url': 'https://mars.nasa.gov/news/8427/curiosity-tastes-first-sample-in-clay-bearing-unit/'},
 {'title': "More Testing for Mars InSight's 'Mole'",
  'text': "After the mission's heat probe began hammering last week, it appears to have hit a rock. The team is analyzing data before they hammer again.",
  '_url': 'https://mars.nasa.gov/news/8419/more-testing-for-mars-insights-mole/'},
 {'title': 'NASA Garners 7 Webby Award Nominations',
  'text': 'Nominees include four JPL projects: the solar system and climate websites, InSight social media, and a 360-degree Earth video. Public voting closes April 18, 2019.',
  '_url': 'https://mars.nasa.gov/news/8426/nasa-garners-7-webby-award-nominations/'},
 {'title': 'Curiosity Captured Two Solar Eclipses on Mars',
  'text': 'Observing the Martian moons Phobos and Deimos crossing in front of the Sun helps scientists better understand their orbits.',
  '_url': 'https://mars.nasa.gov/news/8425/curiosity-captured-two-solar-eclipses-on-mars/'},
 {'title': "NASA's Mars Helicopter Completes Flight Tests",
  'text': 'The first helicopter to fly on Mars had its first flight on Earth.',
  '_url': 'https://mars.nasa.gov/news/8424/nasas-mars-helicopter-completes-flight-tests/'},
 {'title': 'Asteroids, Hydrogen Make Great Recipe for Life on Mars',
  'text': 'Laser blasts in lab tests suggest asteroid bombardment could have provided key ingredients for life on ancient Mars.',
  '_url': 'https://mars.nasa.gov/news/8423/asteroids-hydrogen-make-great-recipe-for-life-on-mars/'},
 {'title': "Catch NASA's JPL at the Clippers SciFest This Weekend",
  'text': "Students and families can meet a Mars rover, take a virtual tour through our solar system and explore alien worlds with NASA's Jet Propulsion Laboratory at the Clippers SciFest SoCal.",
  '_url': 'https://mars.nasa.gov/news/8422/catch-nasas-jpl-at-the-clippers-scifest-this-weekend/'},
 {'title': "NASA's Mars 2020 Rover Is Put to the Test",
  'text': "In January, Mars 2020 engineers and technicians took over JPL's cleanroom to put the mission's cruise, entry capsule, descent stage and rover through their paces.",
  '_url': 'https://mars.nasa.gov/news/8421/nasas-mars-2020-rover-is-put-to-the-test/'},
 {'title': "Opportunity's Parting Shot Was a Beautiful Panorama",
  'text': "NASA declared the record-setting rover's mission complete on Feb. 13, 2019, but the final image from the rover has just been processed.",
  '_url': 'https://mars.nasa.gov/news/8420/opportunitys-parting-shot-was-a-beautiful-panorama/'},
 {'title': 'Curiosity Resumes Operations After Switching Computers',
  'text': "Curiosity experienced a computer reset on its Side-A computer on Wednesday, March 6, 2019 (Sol 2,339), that triggered the rover's safe mode.",
  '_url': 'https://mars.nasa.gov/news/8416/curiosity-resumes-operations-after-switching-computers/'},
 {'title': 'InSight Lands Praise and a Proclamation from LA County',
  'text': 'Several members of the Mars InSight team accepted a proclamation on behalf of the mission from L.A. County Board of Supervisors on Tuesday, Feb. 19.',
  '_url': 'https://mars.nasa.gov/news/8417/insight-lands-praise-and-a-proclamation-from-la-county/'},
 {'title': 'InSight Is the Newest Mars Weather Service',
  'text': "By collecting data around the clock, NASA's lander will provide unique science about the Martian surface.",
  '_url': 'https://mars.nasa.gov/news/8415/insight-is-the-newest-mars-weather-service/'},
 {'title': "Six Things to Know About NASA's Opportunity Rover",
  'text': "Opportunity's mission is complete. Here are highlights from its time on Mars.",
  '_url': 'https://mars.nasa.gov/news/8414/six-things-to-know-about-nasas-opportunity-rover/'},
 {'title': "NASA's Opportunity Rover Mission on Mars Comes to End",
  'text': "NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.",
  '_url': 'https://mars.nasa.gov/news/8413/nasas-opportunity-rover-mission-on-mars-comes-to-end/'},
 {'title': "NASA's InSight Prepares to Take Mars' Temperature",
  'text': "The lander's second instrument is on the ground. But its ‘mole’ — a burrowing probe — has a long way to go.",
  '_url': 'https://mars.nasa.gov/news/8412/nasas-insight-prepares-to-take-mars-temperature/'},
 {'title': 'NASA to Share Results of Effort to Recover Mars Rover',
  'text': 'NASA will discuss the status of its Mars Exploration Rover Opportunity in a media briefing at 11 a.m. PST (2 p.m. EST) Wednesday, Feb. 13, from the Jet Propulsion Laboratory.',
  '_url': 'https://mars.nasa.gov/news/8411/nasa-to-share-results-of-effort-to-recover-mars-rover/'},
 {'title': "NASA's MAVEN Spacecraft Shrinking its Mars Orbit to Prepare for Mars 2020 Rover",
  'text': 'The MAVEN spacecraft today is starting a campaign to tighten its orbit around Mars to prepare to serve as a data-relay satellite for NASA’s Mars 2020 rover, which launches next year.',
  '_url': 'https://mars.nasa.gov/news/8410/nasas-maven-spacecraft-shrinking-its-mars-orbit-to-prepare-for-mars-2020-rover/'},
 {'title': '360 Video: Curiosity Rover Departs Vera Rubin Ridge',
  'text': "This panorama from the Mast Camera (Mastcam) on NASA's Curiosity Mars rover was taken on Dec. 19 (Sol 2265). The rover's last drill location on Vera Rubin Ridge is visible, as well as the clay region it will spend the next year exploring.",
  '_url': 'https://mars.nasa.gov/news/8409/360-video-curiosity-rover-departs-vera-rubin-ridge/'},
 {'title': 'Beyond Mars, the Mini MarCO Spacecraft Fall Silent',
  'text': 'The first CubeSat mission to deep space may have reached their limit, but they could inspire future NASA missions.',
  '_url': 'https://mars.nasa.gov/news/8408/beyond-mars-the-mini-marco-spacecraft-fall-silent/'},
 {'title': "InSight's Seismometer Now Has a Cozy Shelter on Mars",
  'text': "A domed shield has been set over one of InSight's primary science instruments, protecting it from Mars' wind and temperature changes.",
  '_url': 'https://mars.nasa.gov/news/8407/insights-seismometer-now-has-a-cozy-shelter-on-mars/'},
 {'title': '"Mars Buggy" Curiosity Measures a Mountain\'s Gravity',
  'text': 'Smartphone-like sensors on the NASA rover were used to calculate the density of Mount Sharp, offering new clues to its formation.',
  '_url': 'https://mars.nasa.gov/news/8406/mars-buggy-curiosity-measures-a-mountains-gravity/'},
 {'title': "Curiosity Says Farewell to Mars' Vera Rubin Ridge",
  'text': "The Mars rover is moving on and has taken its last selfie on the ridge it's explored for more than a year.",
  '_url': 'https://mars.nasa.gov/news/8405/curiosity-says-farewell-to-mars-vera-rubin-ridge/'},
 {'title': 'Rover Team Beaming New Commands to Opportunity on Mars',
  'text': 'Engineers at JPL have begun transmitting a new set of commands to Opportunity in an attempt to compel the Mars rover to contact Earth.',
  '_url': 'https://mars.nasa.gov/news/8404/rover-team-beaming-new-commands-to-opportunity-on-mars/'},
 {'title': "NASA's Opportunity Rover Logs 15 Years on Mars",
  'text': 'The rover landed in a region of the Red Planet called Meridiani Planum 16 years ago today, on Jan. 24, 2004.',
  '_url': 'https://mars.nasa.gov/news/8403/nasas-opportunity-rover-logs-15-years-on-mars/'},
 {'title': "NASA's InSight Places First Instrument on Mars",
  'text': 'In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.',
  '_url': 'https://mars.nasa.gov/news/8402/nasas-insight-places-first-instrument-on-mars/'},
 {'title': 'InSight Engineers Have Made a Martian Rock Garden',
  'text': "Reconstructing Mars here on Earth lets them practice setting down the lander's science instruments.",
  '_url': 'https://mars.nasa.gov/news/8401/insight-engineers-have-made-a-martian-rock-garden/'},
 {'title': 'Mars InSight Lander Seen in First Images from Space ',
  'text': "Look closely, and you can make out the lander's solar panels.",
  '_url': 'https://mars.nasa.gov/news/8400/mars-insight-lander-seen-in-first-images-from-space/'},
 {'title': "NASA's InSight Takes Its First Selfie",
  'text': 'Two new image mosaics detail the lander\'s deck and "workspace" — the surface where it will eventually set down its science instruments.',
  '_url': 'https://mars.nasa.gov/news/8398/nasas-insight-takes-its-first-selfie/'},
 {'title': "NASA InSight Lander 'Hears' Martian Winds ",
  'text': 'Vibrations picked up by two spacecraft instruments have provided the first sounds of Martian wind.',
  '_url': 'https://mars.nasa.gov/news/8397/nasa-insight-lander-hears-martian-winds/'},
 {'title': "NASA's Mars InSight Flexes Its Arm",
  'text': "Now unstowed, the spacecraft's robotic arm will point a camera located on its elbow and take images of the surroundings.",
  '_url': 'https://mars.nasa.gov/news/8396/nasas-mars-insight-flexes-its-arm/'},
 {'title': "Mars New Home 'a Large Sandbox'",
  'text': "With InSight safely on the surface of Mars, the mission team is busy learning more about the spacecraft's landing site.",
  '_url': 'https://mars.nasa.gov/news/8395/mars-new-home-a-large-sandbox/'},
 {'title': 'NASA Hears MarCO CubeSats Loud and Clear from Mars ',
  'text': "A pair of tiny, experimental spacecraft fulfilled their mission yesterday, relaying back near-real-time data during InSight's landing.",
  '_url': 'https://mars.nasa.gov/news/8394/nasa-hears-marco-cubesats-loud-and-clear-from-mars/'},
 {'title': 'InSight Is Catching Rays on Mars',
  'text': 'The lander has sent data indicating its solar panels are open and receiving sunlight to power its surface operations.',
  '_url': 'https://mars.nasa.gov/news/8393/insight-is-catching-rays-on-mars/'},
 {'title': 'NASA InSight Lander Arrives on Martian Surface ',
  'text': 'The touchdown marks the eighth time NASA has successfully landed a spacecraft on Mars.',
  '_url': 'https://mars.nasa.gov/news/8392/nasa-insight-lander-arrives-on-martian-surface/'},
 {'title': 'Landing Day for InSight',
  'text': "NASA's InSight spacecraft is on target for Mars landing at around noon PST today.",
  '_url': 'https://mars.nasa.gov/news/8391/landing-day-for-insight/'},
 {'title': 'NASA InSight Landing on Mars: Milestones',
  'text': "On Nov. 26, NASA's InSight spacecraft will blaze through the Martian atmosphere and set a lander gently on the surface in less time than it takes to cook a hard-boiled egg.",
  '_url': 'https://mars.nasa.gov/news/8390/nasa-insight-landing-on-mars-milestones/'}]

In [13]:
news[0]['title']

'InSight Captures Sunrise and Sunset on Mars'

## Featured Image

In [223]:
url = "https://www.jpl.nasa.gov/spaceimages/?search=mars&category=featured#submit/"
browser.visit(url)

In [224]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [236]:
# slides = soup.find_all('li', class_='slide')

In [251]:
soup.find_all("a", string="Mars, Before InSight")

[]

In [266]:
soup.find_all(attrs={"data-title": "Mars, Before InSight"})[0]['data-fancybox-href']

'/spaceimages/images/largesize/PIA22831_hires.jpg'

In [265]:
soup.find('li', class_='slide').a['data-fancybox-href']

'/spaceimages/images/largesize/PIA22893_hires.jpg'

In [195]:
image = soup.find_all(class_="carousel_item")[0]['style']

In [196]:
image.split("('", 1)[1].split("')")[0]

'/spaceimages/images/wallpaper/PIA17563-1920x1200.jpg'

In [18]:
featured_image_url = "https://www.jpl.nasa.gov" + image.split("('", 1)[1].split("')")[0]

In [19]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17200-1920x1200.jpg'

## Mars Weather

In [186]:
url = "https://twitter.com/marswxreport?lang=en"
browser.visit(url)

In [187]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [188]:
tweets = soup.find_all('div', class_='content')

In [189]:
marsWx_tweets = []
for tw in tweets:
    if tw.a['href'] == "/MarsWxReport" :
        marsWx_tweets.append(tw)

In [190]:
# wx = marsWx_tweets[0].find('p', class_='tweet-text').get_text(strip=True)
wx = marsWx_tweets[0].find('p', class_='tweet-text').get_text().replace('\n', ' ')
# wx = wx.split(' ')[1:len(wx.split(' '))-1]

# s=' '
# mars_weather = s.join(wx).replace('\n', ' ')
mars_weather = wx

In [191]:
mars_weather

'InSight sol 152 (2019-05-01) low -98.1ºC (-144.5ºF) high -17.2ºC (1.0ºF) winds from the SW at 4.8 m/s (10.7 mph) gusting to 13.2 m/s (29.5 mph) pressure at 7.40 hPapic.twitter.com/zJGo11uNF1'

## Mars Facts

In [16]:
url = "https://space-facts.com/mars/"
browser.visit(url)

In [17]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [18]:
# print(soup.find_all(class_='tablepress tablepress-id-mars'))
table = soup.find_all('table', id="tablepress-mars")[0]

In [19]:
table

<table class="tablepress tablepress-id-mars" id="tablepress-mars">
<tbody>
<tr class="row-1 odd">
<td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/>
</td>
</tr>
<tr class="row-2 even">
<td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/>
</td>
</tr>
<tr class="row-3 odd">
<td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td>
</tr>
<tr class="row-4 even">
<td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td>
</tr>
<tr class="row-5 odd">
<td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km (1.52 AU)</td>
</tr>
<tr class="row-6 even">
<td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/>
</td>
</tr>
<tr class="row-7 odd">
<td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-153 to 20 °C</td>
</tr>
<tr class="row-8 even">
<td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td>
</tr>
<tr class="row-9 odd">
<td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [132]:
# table['class'].append('float-right')

In [20]:
table

<table class="tablepress tablepress-id-mars" id="tablepress-mars">
<tbody>
<tr class="row-1 odd">
<td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/>
</td>
</tr>
<tr class="row-2 even">
<td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/>
</td>
</tr>
<tr class="row-3 odd">
<td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td>
</tr>
<tr class="row-4 even">
<td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td>
</tr>
<tr class="row-5 odd">
<td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km (1.52 AU)</td>
</tr>
<tr class="row-6 even">
<td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/>
</td>
</tr>
<tr class="row-7 odd">
<td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-153 to 20 °C</td>
</tr>
<tr class="row-8 even">
<td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td>
</tr>
<tr class="row-9 odd">
<td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [21]:
from IPython.display import display_html

In [22]:
table_str = f"""{table}"""

In [23]:
table_str.split("tablepress ")
add_class = 'tablepress table-hover table-dark '
table2 = add_class.join(table_str.split("tablepress "))
table2

'<table class="tablepress table-hover table-dark tablepress-id-mars" id="tablepress-mars">\n<tbody>\n<tr class="row-1 odd">\n<td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/>\n</td>\n</tr>\n<tr class="row-2 even">\n<td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/>\n</td>\n</tr>\n<tr class="row-3 odd">\n<td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td>\n</tr>\n<tr class="row-4 even">\n<td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td>\n</tr>\n<tr class="row-5 odd">\n<td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km (1.52 AU)</td>\n</tr>\n<tr class="row-6 even">\n<td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/>\n</td>\n</tr>\n<tr class="row-7 odd">\n<td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-153 to 20 °C</td>\n</tr>\n<tr class="row-8 even">\n<td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td>\n</tr>\n<tr class="row-9 odd">\n<td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td>\n</tr>\n</tbody>\n</table>'

In [26]:
tblLines = table2.replace('\n', ' ')
tblLines

'<table class="tablepress table-hover table-dark tablepress-id-mars" id="tablepress-mars"> <tbody> <tr class="row-1 odd"> <td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/> </td> </tr> <tr class="row-2 even"> <td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/> </td> </tr> <tr class="row-3 odd"> <td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td> </tr> <tr class="row-4 even"> <td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td> </tr> <tr class="row-5 odd"> <td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km (1.52 AU)</td> </tr> <tr class="row-6 even"> <td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/> </td> </tr> <tr class="row-7 odd"> <td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-153 to 20 °C</td> </tr> <tr class="row-8 even"> <td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td> </tr> <tr class="row-9 odd"> <td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td> </tr> </tbody> </table>'

In [28]:
fd2 = pd.read_html(tblLines)

In [29]:
fd2 = fd2[0]

In [32]:
fd2 = fd2.set_index(0)
fd2

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [63]:
# print(table_str)

In [62]:
# table.find_all('table')

In [41]:
# table.strip('<table ').strip('</table>')

In [61]:
# display_html(table_str, raw=True)

In [34]:
dfs = pd.read_html(table_str)
tbl = dfs[0]
# dfs

In [35]:
tbl = tbl.set_index(0)
tbl

                                                  1
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [36]:
html_table = tbl.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>1</th>\n    </tr>\n    <tr>\n      <th>0</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [37]:
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>1</th>    </tr>    <tr>      <th>0</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [38]:
# tcode = html_table.split('>')
# html_table
tbl_strgs = html_table.split("""  <thead>    <tr style="text-align: right;">      <th></th>      <th>1</th>    </tr>    <tr>      <th>0</th>      <th></th>    </tr>  </thead>""")

In [39]:
# tcode
tbl_strgs
strings = tbl_strgs[0]+tbl_strgs[1]
strings

'<table border="1" class="dataframe">  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [40]:
# for t in tcode:
#     print(t+'>')
strings = strings.replace("""class="dataframe">""", """class="dataframe table-hover table-dark">""")
strings

'<table border="1" class="dataframe table-hover table-dark">  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemisphere

In [53]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/"
browser.visit(url)

In [26]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [27]:
images = soup.find_all('div', class_='item')

In [28]:
images[0].img['src']

'/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png'

In [29]:
# lnks = [images[x].img['src'] for x in range (0, len(images))]

In [30]:
# images[0].a['href']
lnks = [images[x].a['href'] for x in range (0, len(images))]

In [31]:
lnks[0:2]

['/search/map/Mars/Viking/cerberus_enhanced',
 '/search/map/Mars/Viking/schiaparelli_enhanced']

In [32]:
image_links = []
for x in lnks:
    url = 'https://astrogeology.usgs.gov/'+x
    browser.visit(url)
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    image_links.append("https://astrogeology.usgs.gov" + soup.find('img', class_='wide-image')['src'])

In [33]:
image_links

['https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg']

In [34]:
hemisphere_image_urls = []
for x in range(0, len(images)):
    hemisphere_image_urls.append({'title': images[x].h3.text, 'img_url': image_links[x]})

In [35]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [ ]:
browser.quit()